/*
 * Все паршалы импортировать в этот файл
 */

@import 'normalize.scss';
@import 'base.scss';

body {
  font-family: 'Raleway';
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

// header

.main-header {
  background-color: #07070b;
  position: relative;
  z-index: 1;
}

.main-header__navigation {
  width: 1170px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

.main-header__list {
  display: flex;
  align-items: center;
}

.main-header__link {
  display: block;
  color: #a4a4a4;
  padding: 18px;
  font-size: 18px;
  font-family: 'Raleway';
  text-transform: uppercase;
}

.main-header__link::before,
.main-header__link::after {
  display: block;
  content: '';
  width: 26px;
  height: 4px;
  background-color: #ff0036;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
  transition: 0.3s;
}

.main-header__link::before {
  margin-bottom: 20px;
}

.main-header__link::after {
  margin-top: 20px;
}

.main-header__link:hover::before,
.main-header__link:hover::after {
  opacity: 1;
}
// banner

.banner {
  height: 600px;
  background-image: url(../images/Background.png);
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__title {
  color: #fff;
  margin-top: 0;
  top: 50%;
  left: 50%;
}

.accent-color {
  color: #ff0036;
}

.banner__text {
  color: #fff;
  width: 1030px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.banner__list {
  display: flex;
}

.banner__list-item:nth-child(1n) {
  margin-right: 30px;
}

.banner__link {
  display: block;
  padding: 18px 40px;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #131313;
  transition: 0.3s;
}

.banner__link:hover,
.banner__link:focus {
  background-color: #ff0036;
}

//about

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  margin-top: 90px;
  margin-bottom: 40px;
  font-size: 30px;
  color: #262626;
  font-weight: 700;
  text-align: center;
}

.secondary-title {
  font-size: 16px;
  line-height: 22px;
  color: #505050;
  font-weight: 700;
  text-align: center;
  margin-bottom: 90px;
}

.wrapper-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.wrapper {
  margin-right: 30px;
}

.text {
  font-size: 16px;
  line-height: 22px;
  color: #505050;
  font-weight: 400;
}

.about-features {
  display: flex;
}
