/*
 * Все паршалы импортировать в этот файл
 */

@import 'normalize.scss';
@import 'base.scss';

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

// header

.main-header {
  background-color: #07070b;
  position: relative;
  z-index: 1;
}

.main-header__navigation {
  width: 1170px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

.main-header__list {
  display: flex;
  align-items: center;
}

.main-header__link {
  display: block;
  color: #a4a4a4;
  padding: 18px;
  font-size: 18px;
  font-family: 'Raleway';
  text-transform: uppercase;
}

.main-header__link::before,
.main-header__link::after {
  display: block;
  content: '';
  width: 26px;
  height: 4px;
  background-color: #ff0036;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
  transition: 0.3s;
}

.main-header__link::before {
  margin-bottom: 20px;
}

.main-header__link::after {
  margin-top: 20px;
}

.main-header__link:hover,
.main-header__link:hover {
  color: #fff;
}

.main-header__link:hover::before,
.main-header__link:hover::after {
  opacity: 1;
}
// banner

.banner {
  height: 600px;
  background-image: url(../images/Background.png);
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__title {
  color: #fff;
  margin-top: 0;
  top: 50%;
  left: 50%;
}

.accent-color {
  color: #ff0036;
}

.banner__text {
  color: #fff;
  width: 1030px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.banner__list {
  display: flex;
}

.banner__list-item:nth-child(1n) {
  margin-right: 30px;
}

.banner__link {
  display: block;
  padding: 18px 40px;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #131313;
  transition: 0.3s;
}

.banner__link:hover,
.banner__link:focus {
  background-color: #ff0036;
}

//about

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  margin-top: 90px;
  margin-bottom: 40px;
  font-size: 30px;
  color: #262626;
  font-weight: 700;
  text-align: center;
}

.secondary-title {
  font-size: 16px;
  line-height: 22px;
  color: #505050;
  font-weight: 700;
  text-align: center;
  margin-bottom: 90px;
}

.wrapper-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.wrapper {
  margin-right: 30px;
}

.row {
  display: block;
  width: 512px;
  height: 2px;
  background-color: #505050;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

.text {
  font-size: 16px;
  line-height: 22px;
  color: #505050;
  font-weight: 400;
}

.about-features {
  display: flex;
}

.about-features__item {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  transition: 0.3s;
}

.about-features__item:nth-child(4n) {
  margin-right: 0;
}

.about-icon {
  display: block;
  width: 60px;
  height: 60px;
  fill: #262626;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 54px;
}

.about-features__item:hover,
.about-features__item:focus {
  transform: scale(1.02);
  box-shadow: 10px 16px 22px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 16px 22px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 16px 22px -5px rgba(0, 0, 0, 0.75);
}

.about-features__item:hover .about-icon {
  fill: #ff0036;
}

.about__title::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #505050;
  margin-right: 12px;
}

// portfolio

.portfolio {
  background-color: #262626;
}

.portfolio__title {
  color: #fff;
  padding-top: 90px;
}

.portfolio__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}

.portfolio__link {
  display: block;
  color: #a4a4a4;
  text-transform: uppercase;
  padding-right: 10px;
  padding-left: 10px;
  transition: 0.3s;
}

.portfolio__link:hover,
.portfolio__link:focus {
  color: #ff0036;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.image-list__item {
  display: flex;
  position: relative;
}

.image-list__item:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 227, 227, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
}

.overlay__text {
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 10px;
}
